<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task_form</title>
</head>
<body>
    <!-- 
    <form method="GET"> default method is GET 
    -->
    <form method="POST"> 
        {% csrf_token %} <!-- To use POST -->
        <label for="">Title</label>
        <input type="text" name="title">

        <label for="">Number</label>
        <input type="text" name="number">

        <button type="submit">Submit</button>
    </form>
</body>
</html>